/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
.gallery {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
 
}

.gallery-item {
width: 360px;
  list-style:none;
  height: 220px;
}

.gallery-image {
  width:100%;
  height:100%;
  display: block;
}
